[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.0"
dynaconf = ">=3.1.11"
# sanic = ">21.6.2"
starlette = "==0.23.1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
